<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <% if(guild.icon) { %>
        <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png" alt="Image">
        <% } else { %>
        <img src="https://glitch.com/edit/images/logos/glitch/logo-day.svg" alt="Image">
        <% } %>
      </figure>
    </div>
    <div class="media-content">
      <div class="columns is-gapless">
        <div class="content column">
          <p>
            <strong><%= guild.name %></strong> <small><%= guild.id %></small>
            <ul>
              <% guild.features.forEach(feature => { %>
                <li><%= feature %></li>
              <% }) %>
            </ul>
          </p>
        </div>
        <div class="content column">
          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                <span>View Permissions</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
              <div class="dropdown-content">
                <div class="dropdown-item">
                  <% permissions.get(guild.id).forEach((v,k) => { %>
                    <li><%= k %></li>
                  <% }) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>